*{
	margin:0;
	padding:0;
}
body{
	background-color:rgba(0,0,0,0.8);
}
.Operator{
	width:400px;
	margin:20px auto 30px;
}
.Operator p{
	font-size:1em;
	text-shadow:-2px -2px 1px rgb(255,255,255);
}
.Operator span{
	font-size:1.6em;
	font-weight: bold;
	text-shadow:0 15px 5px rgb(0,0,0);
	color:rgb(255,255,255);
}
.sessionTime{
	display: inline-block;
	width: 48%;
	text-align: center;
	margin-left:0.8%;
}
.breakTime{
	display: inline-block;
	width:48%;
	text-align: center;
}
.Operator button{
	font-size: 1.6em;
	font-weight: bold;
	width:30%;
	text-align: center;
	border:4px rgb(255,255,255) solid;
	color:rgb(255,255,255);
	background-color: transparent;
	/*box-shadow: 10px 10px 20px rgb(0,0,0);*/
	box-shadow: none;
	outline: none;
}
.Operator button:hover{
	/*box-shadow: none;*/
	box-shadow: 0 15px 20px rgb(0,0,0);
}


.displayBg{
	width:380px;
	height:380px;
	margin:0 auto;
	border:4px rgb(50,50,50) solid;
	border-radius: 50%;
	box-shadow: 0 0 35px rgb(255,255,255);
}

.timeDisplay{
	color:rgb(255,255,255);
	font-size: 50px;
	width:374px;
	height:374px;
	margin: auto;
	border: 3px rgb(255,255,255) solid;
	border-radius: 50%;
	text-align: center;
}
.timeDisplay h2{
	font-size: 20px;
	margin-top: 35%;
}
.timeDisplay span{
	font-family: Times;
}
.controls{
	width:300px;
	margin:10px auto;
	text-align: center;
}
.controls button{
	width:60px;
	height:60px;
	font-size: 1.3em;
	font-weight: bold;
	color:rgb(255,255,255);
	text-shadow:0 0 2px rgb(0,0,0);
	border:4px rgb(255,255,255) solid ;
	outline: none;
	border-radius:50%;
	box-shadow:0 15px 10px rgba(0,0,0,1);
	background: transparent;
}
.controls button:hover{
	background-color: rgba(255,255,255,0.8); 
}
.controls button:nth-child(2){
	display: none;
}
.footer{
	text-align: center;
	margin-top: 10%;
}

/*!适配移动端*/
@media screen and (max-width: 420px) {

.Operator{
	width:100%;
	margin:5% auto 15%;
}
.Operator button{
	box-shadow: 0 15px 20px rgb(0,0,0);
}
.displayBg{
	width:300px;
	height:300px;
}
.timeDisplay{
	width:294px;
	height:294px;
}
.controls{
	margin:15% auto 0;
}
.footer{
	margin-top: 20%;
}

}